
  <h1>Let's get started!</h1>
  <p>
    MineralDB is a database website that gets you information on minerals quickly and easily. Check out the links below, or try some at the top of the page!
  </p>

  <h4><a href="#/minerals">Minerals</a></h4>
  <p>
    Click on Minerals above to check out the database!
  </p>

  <h4><a href="#/contact">Contact Us!</a></h4>
  <p>Click above to ask us a question or tell us about a mineral you want to see here.</p>

  <h4>Future Features</h4>
  <p>We have a few features that will be released in the future, like individual pages for minerals, a power search option for the database and pictures of the minerals in both hand samples and thin sections. Be sure to check back often!</p>
