 <div ng-hide="loaded" class="center">
   <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
 <div ng-show="loaded">
  <div class="panel">
    <span class="dropdown">
      <select ng-model="hardnessFilter">
        <option value="">Hardness</option>
        <option ng-repeat="hardness in hardnessOptions" value="{{ hardness }}">{{ hardness }}</option>
      </select>
    </span>


    <span class="dropdown">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Luster <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labeledby="dLabel">
        <li>Adamantine</li>
        <li>Dull</li>
        <li>Earthy</li>
        <li>Metallic</li>
        <li>Resinous</li>
        <li>Vitreous</li>
        <li>Waxy</li>
      </ul>
    </span>


  </div> <!-- end power search panel -->

<table class="table table-striped">
    <thead>
        <tr>
            <th ng-click="doSort('name')">Mineral</th>
    <!--        <th ng-click="doSort('formula')">Formula</th>     -->
            <th ng-click="doSort('group')">Group</th>
            <th ng-click="doSort('hardness')">Hardness</th>
            <th ng-click="doSort('gravity')">Specific Gravity</th>
            <th ng-click="doSort('luster')">Luster</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="mineral in minerals | orderBy:sortBy:reverse">
            <td><a ng-href="#/mineralDetail/{{mineral.$id}}">{{ ::mineral.name }}</a></td>
    <!--        <td>{{ ::mineral.formula }}</td>    -->
            <td>{{ ::mineral.group }}</td>
            <td>{{ ::mineral.hardness }}</td>
            <td>{{ ::mineral.gravity }}</td>
            <td>{{ ::mineral.luster }}</td>
        </tr>
    </tbody>
</table>


<form ng-if="userLoggedIn == true">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="newMineral.name" placeholder="Name" />
    </div>
    <div class="form-group">
        <label>Group</label>
        <input type="text" class="form-control" ng-model="newMineral.group" placeholder="Group" />
    </div>
    <div class="form-group">
        <label>Hardness</label>
        <input type="text" class="form-control" ng-model="newMineral.hardness" placeholder="Hardness" />
    </div>
    <div class="form-group">
        <label>Specific Gravity</label>
        <input type="text" class="form-control" ng-model="newMineral.gravity" placeholder="Specific Gravity" />
    </div>
    <div class="form-group">
        <label>Luster</label>
        <input type="text" class="form-control" ng-model="newMineral.luster" placeholder="Luster" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="newMineral.description" placeholder="Description" />
    </div>
    <button class="btn btn-primary" ng-click="addMineral()">Submit</button>
</form>
</div>
